 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eed0f3;
    margin: 0;
}
 #container-video {
    padding: 10px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    animation: glow 1.5s infinite alternate;
}
 #video {
    display: block;
    width: 640px;
    height: 480px;
    border-radius: 10px;
}
@keyframes glow {
    from {
        box-shadow: 0 0 5px #333;
        border-color: #faf4f4;
    }
    to {
        box-shadow: 0 0 20px #660675, 0 0 30px #660675, 0 0 40px #660675;
        border-color: #660675;
    }
}  

canvas{
    position:absolute;
}

img{
    width: 100px;
    height: 100px;
}
#logocn{
  position:absolute;
  top: 10px;
  left:10px;
}

#logopplg{
    position:absolute;
    top:10px;
    right:10px;
}
